*::after, *::before, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-color: black;
  color: white;
}

nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 4rem;
  text-transform: uppercase;
}

.logo{
  height: 50px;
}

ul{
  display: flex;
  gap: 3rem;
  list-style: none;
}

.man{
  height: 56.3rem;
}

.part-1{
  display: flex;
  flex-basis: auto;
}

.section-1{
  display: flex;
  flex-wrap: wrap;
}

.section-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

h3{
  font-size: 3rem;
  color: red;
}

h1{
  font-size: 7rem;
  padding: 0px 0 10px 0;
}

.subheading{
  /* max-width: 900px;
  min-width: 400px; */
  padding: 0px 0 2rem 0;
  font-size: 1.2rem;
  font-size: clamp();
}

.upperlink{
  display: block;
  background-color: red;
  padding: 15px;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.upperlink:visited{
  color: white;
  text-decoration: none;
}

.part-2{
  background: linear-gradient(90deg, #111111 50%,  #1e1e1e49 50%);
  padding: 4rem;
  height: 100vh;
}

.boxes{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 1rem;
  justify-content: center;
}

.box-1, .box-2, .box-3{
  background-color: green;
  height: 270px;
  padding: 2rem;
  box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.3);
}

.box-1, .box-3{
  background:rgb(44, 44, 44);
}

.box-2{
  background-color: red;
}

.boxes h4{
  font-size: 1.5rem;
}

.boxes p, .boxes h4, .box-link{
  margin-top: 1.1rem;
}

.box-link{
  text-decoration: none;
  display: flex;
  align-content: center;
  color: white;
  font-size: 1.1rem;
  gap: 0.5rem;
}

.boxes p{
  font-size: 0.95rem;
  font-weight:100;
  letter-spacing: 1px;
}

.experience{
  display: grid;
  margin-top: 20vh;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
}

.experience div{
  background-color: rgb(44, 44, 44);
  padding: 2rem;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.3);
}

.years{
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: transparent !important;
  box-shadow: none !important;
}

.years h4{
  font-size: 1.5rem;
}

.years h1{
  color: red;
}

.experience h2{
  font-size: 3rem;
  color: red;
}

.projects_section{
  height: 100vh;
  width: 100rem;
  /* background-color: green; */
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.bar{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0 21.9rem 2rem 21.9rem;
  margin-top: 3rem;
}

button{
  width: 8rem;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}

.projects{
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  align-content: center;
  grid-gap: 2rem;
}

.project-1{
  height: 350px;
}

.img-background img{
  width: 100%;
  cursor: pointer;
  transition: all 1s;
}

.img-background img:hover{
  transform: scale(1.4);
}

.img-background{
  background-color:  #111111;
  height: 15rem;
  width: inherit;
  padding: 2rem;
  overflow: hidden;
}

.project-1 h4{
  margin-top: 1rem;
}

.project-1 a{
  margin-top: 0.5rem;
  color:red;
}

.contact{
  background-color: #111111;
  height: 15rem;
  margin: 0 auto 3rem auto;
  padding: 4rem;
  width: 70rem;
  min-width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.contact button{
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
}

.contact p{
  padding-top: 1rem;
  font-size: 1rem;
}

.end-menu{
  justify-content: center;
  margin-bottom: 3rem;
}

footer{
  display: flex;
  justify-content: center;
  background-color: #111111;
  padding: 2rem;
}

footer img{
  height: 1rem;
  margin-left: 3rem;
}
